body{
    background-color: white;
}
button{
    width: auto!important;
}
.album{
    height: auto;
    margin: 3rem;
    background-color: white;
    padding: 2rem;
    border-radius: 30px;
}
.imagen{
    height: 300px;
    width: auto!important;
}
footer{
    height: 100px!important;
}